<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Tasks</h1>
        <ul>
            <li v-for="task in completed">{{ task.text }}, Done: {{ task.done }}
                <button v-on:click="toggle(task)">Mark as open</button>
            </li>
        </ul>

        <h1>Open Tasks</h1>
        <ul>
            <li v-for="task in open">{{ task.text }}, Done: {{ task.done }}
                <button v-on:click="toggle(task)">Mark as done</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                tasks: [
                    {text: "learn Vue", done: false},
                    {text: "do the Go backend", done: true},
                    {text: "build Vue frontend for softpull", done: false}
                ]
            },
            computed: {
                open() {
                    return this.tasks.filter(t => !t.done)
                },
                completed() {
                    return this.tasks.filter(t => t.done)
                }
            },
            methods: {
                toggle(task) {
                    const i = this.tasks.indexOf(task)
                    this.tasks[i].done = !this.tasks[i].done
                },
            }
        })
    </script>
</body>
</html>